@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-accent: #a3e635;
  --border: #262626;
}

.dark {
  /*
   * Terminal background
   */
  --ui-bg: #0a0a0a;
  /* --ui-text: #e5e5e5; */
  --ui-text: #a3a3a3;
  --ui-bg-muted: #737373;
  --ui-text-muted: #737373;


  /*
   * Borders
   */
  --ui-border: #262626;

  /*
   * Green becomes slightly brighter in dark mode
   */
  --ui-primary: var(--ui-color-primary-400);
}
